/* TODO: inserite il CSS necessario per completare il MHW! */
.choice-grid{
    display: flex;
    flex-wrap: wrap;
  
    justify-content: space-between;
   
}
.choice-grid div{
    background-color: #f4f4f4;
    border:solid 1px #dcdcdc;
    width: calc(32.5% - 22px);
    padding: 10px;
    margin: 0 0 20px 0;
    
}
.choice-grid div img{
   
    
    width: 100%;
    aspect-ratio: 1;
    object-fit: scale-down;
}
.opaco{
    opacity: 0.6;
}
.selezionato{
    background-color: #cfe3ff !important; /*important serve per dare priorita a questo rispetto ad altri*/
}
.bottone{
    height: 50px;
    width: 100%;
    background-color: #cecece
}
.bottone:hover{
background-color: #e0e0e0;
}
.result{  
    padding: 20px;
    margin-top:20px;
    margin-bottom:20px;
}

.result p{
    text-align: justify;
}
@media (max-width: 700px) {
    header div span{
        display: none;
    }
    article{
        width: 95%;
    }
    
}
@media(max-width: 500px){
    .choice-grid div{
        width: calc(49% - 20px);
    }
}